<div class="about-us">
    <div class="explain">
        <h2>About Us</h2>
        <h3>We are the first platform enabling university students to review their dining hall experience. We take a holistic approach by focusing on all aspects of a dining hall including price, food quality, location, service, taste, etc. We aim for current and prospective students to use our platform to view and review the performance of dining halls' performance freely.</h3>
    </div>
    <div class="our-team">
        Explanations + stuff
    </div>
</div>