<div class="border" [routerLink]="['/hall']" [queryParams]="{
    id: hall.hallId,
    name: hall.name,
    location: hall.location,
    averageScore: hall.averageScore,
    imagePath: hall.imagePath
}">
    <div class="hall-display">
        <div class="img-display">
            <img src="assets/{{hall.imagePath}}">
        </div>
        <div class="info">
            <h2>{{hall.name}}</h2>
            <p>{{hall.location}}</p>
            <p>{{hall.averageScore}}</p>
        </div>
    </div>
</div>