<header>
    <div class="logo">
        <a routerLink="/main" routerLinkActive="active"><img src="./assets/logo.png" alt="Logo"></a>
    </div>

    <div class="others">
        <nav>
            <ul>
                <li><a routerLink="/main" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
                <li *ngIf="(checkAuth() | async)"><a routerLink="/main" routerLinkActive="active" (click)="signOut()">Sign Out</a></li>
                <li *ngIf="profile.picture"><a (click)="changeMenuDisplay()"><img src="{{profile.picture}}" class="profile-picture"></a></li>
                <div class="profile-menu" [ngStyle]="{'display': isMenuVisible ? 'none' : 'block'}">
                    <h5 class="email">{{profile.email}}</h5>
                    <ul>
                        <li><a><h3>Settings</h3></a></li>
                        <li><a><h3>Profile</h3></a></li>
                        <li><a (click)="signOut()"><h3>Logout</h3></a></li>
                    </ul>
                </div>
            </ul>
        </nav>
    </div>

</header>